@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-slate-950 text-slate-50 dark:bg-slate-950 dark:text-slate-50;
  font-family: var(--font-sans);
}

main {
  min-height: 100vh;
}
